---
layout: default
title: Features
section_id: features
features_left:
  - icon: users
    title: Multi user support
    desc: Have a pentest team or a group a friends? They can all have accounts so you can determine who is cracking what and when.
  - icon: cogs
    title: hashcat control
    desc: Run any hashcat command that you'd normally would via command line. The UI allows control of the most commonly used switches.
  - icon: pie-chart
    title: Analytics
    desc: This was one of the founding features. As pentesters we need to report on real-world metrics for our clients. Hashview professional looking analytics for your reports.
  - icon: clock-o
    title: Time saving automation
    desc: Make one hashcat task and reuse it against any type of hash. Predefined tasks can be applied to any job.
features_right:
  - icon: th-list
    title: Job queuing
    desc: Queue up jobs so you increase the duty cycle of your password cracker.
  - icon: history
    title: Retro actively crack hashes
    desc: Had a bunch of hashes you weren't able to crack from a previous client? Hashview always checks your old uncracked hashes whenever a new hash has cracked, and sets the older hashes to cracked.
  - icon: search
    title: Searching
    desc: Search your whole database by hash, username or plain text password.
  - icon: bell
    title: Notifications
    desc: Email notifications when your crack jobs have completed. You can easy turn this into sms notifications too!
---

<div class='full parallax' style='background-image: url(images/vector2.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Features" tagline="Improve your workflow" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for feature in page.features_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{feature.icon}}'></i>
            <h3>{{feature.title}}</h3>
            <p>{{feature.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for feature in page.features_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{feature.icon}}'></i>
            <h3>{{feature.title}}</h3>
            <p>{{feature.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>