<div class='links'>
  <h3>Archives</h3>
  <ul>
    <li>
      <a href='#'>March 2017</a>
      <span>(1)</span>
    </li>
    <li>
      <a href='#'>February 2017</a>
      <span>(1)</span>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>Categories</h3>
  <ul>
    <li>
      <a href='#'>Releases</a>
    </li>
    <li>
      <a href='#'>Engineering</a>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    <li>
      <a href='#'>Haha we only have one post atm</a>
    </li>
  </ul>
</div>